{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block body %}
    {{parent()}}
    
    <div id="container">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6"></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
   {{parent()}}
{% endblock %}
