{# rodapé  #}
<div class="footer">
    <div class="pull-right">
        Version <strong>1.0</strong>
    </div>
    <div>
        <strong>Copyright</strong> <a target="__blanck" href="http://www.serbinario.com.br/">Serbinário</a> &copy; 2004-2015
    </div>
</div>